{% extends 'ndapp/base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
      <h1 class="card-title">{{ reminder.title }}</h1>
      <p class="card-text">{{ reminder.description }}</p>
      <p class="card-text">Date and Time: {{ reminder.date_time }}</p>
      <a href="{% url 'reminder_update' reminder.pk %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'reminder_delete' reminder.pk %}" class="btn btn-danger">Delete</a>
  </div>
</div>
<div class="mt-5"><a href="{% url 'reminder_list' %}" class="btn btn-secondary">Back to List</a></div>
{% endblock %}
