{% extends 'ndapp/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="alert alert-primary" role="alert">
          Emergency Services: 112
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-danger" role="alert">
          Police: 100
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-danger" role="alert">
          Fire: 101
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="alert alert-danger" role="alert">
          Ambulance: 102
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-warning" role="alert">
          Women's Helpline: 1091
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-warning" role="alert">
          Child Helpline: 1098
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="alert alert-warning" role="alert">
          Senior Citizens Helpline: 1291
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-success" role="alert">
          National Health Helpline: 1800-180-1104
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-success" role="alert">
          National Mental Health Helpline: 1800-599-0019
        </div>
      </div>
    </div>
  </div>
  {% endblock %}