{% extends 'ndapp/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cardiology</h5>
            <ul class="list-group">
              <li class="list-group-item">This specialty focuses on the diagnosis, treatment, and prevention of heart diseases and disorders.</li>
              <li class="list-group-item">Hypertension</li>
              <li class="list-group-item">Arrhythmias</li>
              <li class="list-group-item">Congenital heart defects</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dermatology</h5>
            <ul class="list-group">
              <li class="list-group-item">Although primarily concerned with skin health, dermatological conditions can sometimes reflect underlying heart diseases.</li>
              <li class="list-group-item">Skin cancer</li>
              <li class="list-group-item">Dermatitis</li>
              <li class="list-group-item">Allergies and sensitivities</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Endocrinology</h5>
            <ul class="list-group">
              <li class="list-group-item">Endocrine disorders like diabetes and thyroid dysfunction can impact cardiovascular health.</li>
              <li class="list-group-item">Thyroid disorders</li>
              <li class="list-group-item">Hormonal imbalances</li>
              <li class="list-group-item">Adrenal disorders</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gastroenterology</h5>
            <ul class="list-group">
              <li class="list-group-item">Gastrointestinal conditions like inflammatory bowel disease can have indirect effects on heart health due to chronic inflammation.</li>
              <li class="list-group-item">Irritable bowel syndrome (IBS)</li>
              <li class="list-group-item">Arrhythmias</li>
              <li class="list-group-item">Liver diseases (hepatitis, cirrhosis)</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Neurology</h5>
            <ul class="list-group">
              <li class="list-group-item">Neurological conditions can influence heart health through the autonomic nervous system, affecting heart rate and blood pressure regulation.</li>
              <li class="list-group-item">Stroke</li>
              <li class="list-group-item">Epilepsy</li>
              <li class="list-group-item">Migraines and headaches</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Orthopedics</h5>
            <ul class="list-group">
              <li class="list-group-item">Orthopedic surgeries or conditions can impact the cardiovascular system during and after procedures due to stress and potential immobility.</li>
              <li class="list-group-item">Arthritis</li>
              <li class="list-group-item">Spinal disorders</li>
              <li class="list-group-item">Sports injuries</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pulmonology</h5>
            <ul class="list-group">
              <li class="list-group-item">Pulmonary diseases like chronic obstructive pulmonary disease (COPD) can strain the heart due to decreased lung function, leading to pulmonary hypertension.</li>
              <li class="list-group-item">Pneumonia</li>
              <li class="list-group-item">Lung cancer</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Obstetrics and Gynecology</h5>
            <ul class="list-group">
              <li class="list-group-item">Pregnant women with pre-existing heart conditions require specialized care to manage risks during pregnancy.</li>
              <li class="list-group-item">Menstrual disorders</li>
              <li class="list-group-item">Polycystic ovary syndrome (PCOS)</li>
              <li class="list-group-item">Endometriosis</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pediatrics</h5>
            <ul class="list-group">
              <li class="list-group-item">Congenital heart defects are common in pediatrics, requiring specialized care and surgeries to address structural issues.</li>
              <li class="list-group-item">Childhood vaccinations</li>
              <li class="list-group-item">Pediatric diseases (measles, mumps, chickenpox)</li>
              <li class="list-group-item">Attention deficit hyperactivity disorder (ADHD)</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Oncology</h5>
            <ul class="list-group">
              <li class="list-group-item">Certain cancer treatments, like chemotherapy, can have cardiotoxic effects and increase the risk of heart diseases.</li>
              <li class="list-group-item">Cancer treatment options (chemotherapy, radiation, immunotherapy)</li>
              <li class="list-group-item">Palliative care and pain management</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Infectious Diseases</h5>
            <ul class="list-group">
              <li class="list-group-item">Some infections, such as certain viral infections, can cause inflammation of the heart (myocarditis) and potentially lead to heart diseases.</li>
              <li class="list-group-item">Bacterial infections (tuberculosis, strep throat)</li>
              <li class="list-group-item">Parasitic infections (malaria, Lyme disease)</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mental Health</h5>
            <ul class="list-group">
              <li class="list-group-item">Psychological stress and mental health disorders can contribute to hypertension and increase the risk of heart diseases.</li>
              <li class="list-group-item">Depression</li>
              <li class="list-group-item">Anxiety disorders</li>
              <li class="list-group-item">Schizophrenia</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nephrology</h5>
            <ul class="list-group">
              <li class="list-group-item">Kidney health plays a crucial role in maintaining blood pressure and fluid balance, impacting cardiovascular health.</li>
              <li class="list-group-item">Kidney stones</li>
              <li class="list-group-item">Arrhythmias</li>
              <li class="list-group-item">Dialysis and kidney transplantation</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Rheumatology</h5>
            <ul class="list-group">
              <li class="list-group-item">Autoimmune diseases like rheumatoid arthritis can have systemic effects, including inflammation that may affect the heart and blood vessels.</li>
              <li class="list-group-item">Autoimmune diseases (rheumatoid arthritis, lupus)</li>
              <li class="list-group-item">Joint and connective tissue disorders</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Urology</h5>
            <ul class="list-group">
              <li class="list-group-item">While primarily focused on the urinary system, urological conditions might indirectly impact heart health through shared risk factors like obesity or metabolic syndrome.</li>
              <li class="list-group-item">Kidney and bladder issues</li>
              <li class="list-group-item">Prostate problems,make this into cards in bootsstraph</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}