{% extends 'ndapp/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="content-box border p-3">
                <img src="https://cdn.discordapp.com/attachments/1144218363774652526/1144268925824147568/download_3.jpg" class="img-fluid" alt="Image">
                <h5 class="mt-3">Today the World Health Organization releases a new action guide for sports event organizers</h5>
                <p>The publication, developed in collaboration with the Ministry of Public Health, Qatar, is directed at sports event organizers. It proposes five actions to achieve healthier food and healthier food environments in and around sports stadia, from improving the food on offer to preventing harmful marketing.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-box border p-3">
                <img src="https://cdn.discordapp.com/attachments/1144218363774652526/1144268839169835069/download_4.jpg" class="img-fluid" alt="Image">
                <h5 class="mt-3">WHO launches a new Global Initiative on Digital Health supported by the G20 Presidency</h5>
                <p>The World Health Organization (WHO) and the G20 India presidency announced a new Global Initiative on Digital Health (GIDH) today at the Health Minister’s Meeting of the G20 Summit hosted by the Government of India.

                The new GIDH initiative (pronounced “guide” for short) will operate as a WHO-managed network and platform to support the implementation of the Global Strategy on Digital Health 2020–2025. WHO serves as the Secretariat for the strategy .</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
