{% extends 'ndapp/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}

<div class="container">
  <h1>Privacy Policy</h1>
  <p>Your privacy is important to us. This privacy policy outlines how we collect, use, disclose, and safeguard your personal information:</p>

  <h2>Information We Collect</h2>
  <p>We may collect personal information, including but not limited to your name, email address, and contact details. We collect this information when you provide it voluntarily.</p>

  <h2>How We Use Your Information</h2>
  <p>We may use your personal information for various purposes, including communication, providing services, and improving our offerings.</p>

  <h2>Disclosure of Your Information</h2>
  <p>We may share your personal information with third parties in certain situations, such as with service providers or when required by law.</p>

  <h2>Security</h2>
  <p>We implement security measures to protect your personal information from unauthorized access and disclosure.</p>

  <h2>Your Choices</h2>
  <p>You have the right to review, update, or delete your personal information. You can also opt out of receiving communications from us.</p>

  <h2>Changes to Privacy Policy</h2>
  <p>We may update this privacy policy from time to time. It is your responsibility to review it periodically.</p>

  <h2>Contact Us</h2>
  <p>If you have any questions about this privacy policy, please contact us.</p>
</div>

{% endblock %}