{% extends 'ndapp/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2 class="text-center mb-4">Services</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'doctors_list' %}" class="card-link">Doctors Near Me</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="#" class="card-link">Emergency Helplines</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'chatbot' %}" class="card-link">Ai Doctor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="#" class="card-link">Medical Assistance</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'remedy_list' %}" class="card-link">Remedies</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'booking' %}" class="card-link">Booking Schedule</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'index' %}" class="card-link">Booking</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'bookingSubmit' %}" class="card-link">Booking Submit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'userPanel' %}" class="card-link">User Panel</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'reminder_list' %}" class="card-link">Reminders</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'medicine_list' %}" class="card-link">Order Medicines</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
