{% extends 'ndapp/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
<div class="container">
  <h1>Terms and Conditions</h1>
  <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use:</p>

  <h2>Website Usage</h2>
  <p>The content of this website is for your general information and use only. It is subject to change without notice.</p>

  <h2>Privacy</h2>
  <p>Your use of this website is also subject to our Privacy Policy.</p>

  <h2>Intellectual Property</h2>
  <p>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance, and graphics. Reproduction is prohibited without prior written consent.</p>

  <h2>Disclaimer</h2>
  <p>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable.</p>

  <h2>Changes to Terms</h2>
  <p>We may update these terms and conditions at any time without prior notice. It is your responsibility to review these terms periodically.</p>

  <h2>Contact Information</h2>
  <p>If you have any questions about these terms and conditions, please contact us.</p>
</div>

{% endblock %}