{% extends 'ndapp/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Password Reset</h2>
    <form method="POST" action="#">
      {% csrf_token %}
      <div class="mb-4">
        <label for="{{ form.password.id_for_label }}" class="form-label text-gray-700 text-sm font-bold">
          {{ form.password.label_tag }}
        </label>
        <div class="shadow-lg m-4 p-4 rounded-lg">
          {{ form.as_p }}
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">
          Confirm Password Reset
        </button>
      </div>
    </form>
  </div>
{% endblock %}
